@import '../../../utils/styles/orders.scss';

.section-orders {
  @include displayFlex(center, null, null, null, null);
  @include width-height(100%, 289px, null, 100vh);
  @include fontBackColor(null, null, null, null, #242626, null);

  .content-orders {
    @include displayFlex(center, null, null, null, wrap);
    @include define-box-shadow(15px, 15px, 12px);
    @include width-height(86%, null, null, 50vh);
    @include fontBackColor(null, null, null, null, #343638, null);
    @include margin(null, 30px 0);

    .link-order-details {
      @include displayFlex(space-evenly, null, center, null, wrap);
      @include width-height(95%, null, null, null);
      @include margin(null, 25px 0);

      a {
        @include define-box-shadow(4px, 4px, 12px);
        @include width-height(279px, 235px, 127px, null);
        @include fontBackColor(null, null, null, null, #39333396, #f5f5f5);
        @include margin(null, 11px);
        border: 1px solid #949494;
        text-decoration: none;

        ol {
          @include displayFlex(space-between, column, null, null, null);
          @include width-height(null, null, 100%, null);

          .link-ol-li-1 {
            @include displayFlex(space-between, null, null, null, null);
            @include width-height(null, null, 49px, null);

            .li-link-1 {
              @include define-box-shadow(4px, 4px, 12px);
              @include displayFlex(center, null, center, null, null);
              @include width-height(122px, null, null, null);
              @include fontBackColor(Ubuntu, sans-serif, 13px, null, #5c2626, #f5f5f5);
              border-bottom-right-radius: 18px;
            }

            .li-link-2 {
              @include displayFlex(space-evenly, null, flex-end, null, null);
              @include width-height(99px, null, 29px, null);
              @include fontBackColor(Ubuntu, sans-serif, null, null, null, #949494);
              border-bottom: 1px solid;
            }
          }

          .link-ol-li-2 {
            @include displayFlex(space-between, null, flex-end, null, null);
            @include width-height(null, null, 49px, null);

            .li-link-3 {
              @include displayFlex(space-evenly, null, center, null, null);
              @include width-height(116px, null, 43px, null);
              @include fontBackColor(Ubuntu, sans-serif, 15px, bold, null, #060404);

              span {
                @include fontBackColor(null, null, null, null, null, #949494);
              }
            }

            .li-link-4 {
              @include displayFlex(space-around, null, center, null, null);
              @include width-height(105px, null, 43px, null);
              @include fontBackColor(Ubuntu, sans-serif, 15px, bold, #58575A, #d4d4d4);
              border-top: 1px solid #949494;
              border-left: 1px solid #949494;
            }
          }
        }

        ol:hover {
          transition: 0.36s;
          opacity: 0.5;
        }
      }
    }
  }
}
