@import "../../utils/styles/login-register.scss";

.section-register {
  @include displayFlex(center, null, center);
  @include define-styles(100%, 100vh, null, null, #242626);
  position: relative;
  overflow: hidden;
  z-index: 1;

  .background {
    width: 65em;
    position: absolute;
    z-index: -1;
    margin-bottom: 90px;
    opacity: 0.8;
  }

  .content-register {
    @include displayFlex(center, column, center);
    @include define-styles(86%, null, null, null, null);

    .form-content-register {
      @include displayFlex(space-between, column, center);
      @include define-styles(null, 389px, null, null, #343638);
      @include define-box-shadow(15px, 15px, 12px);

      .span-login {
        @include define-styles(null, null, null, #969898, null);
        @include define-font(Ubuntu, sans-serif, 14px);
        margin-bottom: 20px;

        a {
          @include define-styles(null, null, null, #D9D9D9, null);
          margin-left: 10px;
        }
      }

      .register-error {
        margin: 29px 0 15px;
        color: rgb(227 94 94 / 65%);
      }

      form {
        @include displayFlex(flex-end, column, center);
        @include define-styles(96%, null, 317px, null, null);
        padding: 21px;

        img {
          @include define-styles(64%, null, null, null, null);
          top: -2px;
          position: relative;
          visibility: hidden;
        }
  
        div {
          @include displayFlex(center, column, center);
          @include define-styles(98%, null, 267px, null, null);

          h3 {
            @include define-styles(null, null, null, #969898, null);
            @include define-font(faro, null, 2.9em);
            margin: 18px 0;
          }

          input {
            transition: 0.5s;
            @include define-styles(100%, null, 44px, #3E3E3E, #CE8F2B);
            @include define-box-shadow(4px, 4px, 6px);
            @include define-border(0, 4px);
            @include define-font(Ubuntu, sans-serif, 14px);
            padding: 12px 10px;
            border: 3px solid #CE8F2B;
            box-sizing: border-box;
            margin-bottom: 20px;
            outline: none;
            margin: 8px 0;
          }

          input:focus {
            border: 3px solid #DA6D00;
          }

          input::placeholder {
            color: #3E3E3E;
            opacity: 0.9;
          }

          input:focus::placeholder {
            opacity: 0.5;
          }

          input:-internal-autofill-selected {
            -webkit-text-fill-color: #3E3E3E;
            transition: background-color 5000s ease-in-out 0s;
          }

          button {
            @include define-styles(88%, null, null, #D9D9D9, #DA6D00);
            @include define-box-shadow(4px, 4px, 6px);
            @include define-font(LG, null, 24px);
            @include define-border(0, 4px);
            padding: 8px;
            margin-top: 20px;
          }

          button:disabled:hover {
            cursor: not-allowed;
          }

          button:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .section-register {
    .background {
      display: none;
    }

    .content-register {
      .form-content-register {
        min-width: 250px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .section-register {
    .content-register {
      .form-content-register {
        .span-register {
          @include define-font(Ubuntu, sans-serif, 10px);
        }

        form {
          @include define-styles(100%, "", 317px, "", "");

          div {
            h3 {
              @include define-font(faro, null, 2.2em);
            }

            input {
              @include define-styles(100%, "", 39px, #3E3E3E, #CE8F2B);
            }
          }
        }
      }
    }
  }
}
